<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Aprovar Design – Gama Laser</title>
    {% include "components/header.html" %}
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    {% include "components/panel.html" %}
    {% include "components/modal.html" %}
    <script src="js/preview.js"></script>
    <script src="js/drag.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
